# Environment variables template
DATABASE_URL='postgresql://neondb_owner:npg_Lnim8U2FHRNW@ep-orange-flower-ah3l491y.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
